
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: sahel, Helvetica, Arial, sans-serif;
$helveticaNeue: sahel, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: sahel, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}